.Time{
    margin-top: 10%;
}

.displayTime {
  text-align: center;
}
.controls {
  text-align: center;
}
.start {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
.stop {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
